/* Place CSS styles here */
body {
    color: purple;
    /*distribute font to entire site */
    font-family: 'Merriweather', serif'
}
/*Distribute font to all headings*/
h1,
h2,
h3,
h4,
h5,

html {
    scroll-behavior: smooth;
}

span {
    color: #00c200;
}

h1 {
    color: red;
}




/* music page */
@media screen and (max-width: 767px) {
    html {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .episodes {
      font-size: 14px;
    }
  }
  
  
  
  
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }
  
  .episodes {
    display: flex;
  }
  
  @media screen and (max-width: 767px) {
    .episodes {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .episodes {
      flex-direction: row;
    }
  }